<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Coronavirus Tracker</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
  </head>

  <body>
  <div class="container">
  <h1>Coronavirus Tracker</h1>
  <p>This application lists the current number of cases reported across the globe.</p>
  
  <div class="jumbotron">
  	<h1 class="display-4" th:text="${totalReportedCases}"></h1>
  	<p class="lead">Total cases reported as of today.</p>
  </div>
<div class="container">
  
  	<table class="table">
      <tr>
        <th>State</th>
        <th>Country</th>
        <th>Total Case Reported</th>
      </tr>
      <tr th:each="locStat : ${locStats}">
        <td th:text="${locStat.state}">Onions</td>
        <td th:text="${locStat.country}">2.41</td>
        <td th:text="${locStat.latestTotalCases}">0</td>
      </tr>
    </table>
    </div>
    </div>
  </body>

</html>